* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Para garantir que o conteúdo ocupe toda a altura da página */
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-image: url('imagens/blog-assinatura-1.webp'); /* Adicione sua imagem de fundo aqui */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sobreposição preta com opacidade */
    z-index: -1; /* Mantém a imagem de fundo atrás do conteúdo */
}


header {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1; /* Garante que o header fique acima da sobreposição */
}

header h1 {
    font-size: 2.5rem; /* Reduzido para telas menores */
}

header p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem; /* Mais ajuste para mobile */
    }

    header p {
        font-size: 1rem;
    }
}


main {
    flex: 1; /* Faz o conteúdo principal crescer conforme o tamanho da tela */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; /* Garante que o conteúdo principal fique acima da sobreposição */
}


.busca {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    max-width: 1000px; /* Aumenta o campo de busca */
}

.busca input[type="text"] {
    padding: 25px;
    width: 100%; /* Faz o input ocupar o máximo possível */
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.1rem; /* Aumenta o tamanho do texto */
}

.busca button {
    padding: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.9rem; /* Aumenta o tamanho do texto */
    transition: background-color 0.3s;
}

.busca button:hover {
    background-color: #45a049;
}

.filtros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;
}

.filtros button {
    padding: 20px 40px;
    background-color: #e7e7e7;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.2s, color 0.2s, box-shadow 0.3s;
}

.filtros button:hover {
    background-color: #4caf50;
    color: white;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.resultados-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-resultado {
    background-color: rgba(255, 255, 255, 0.958); /* Cor de fundo sólida (branca) */
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.item-resultado:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.item-resultado h2 {
    color: #4caf50;
    margin-bottom: 10px;
}

.item-resultado p {
    color: #000;
    margin-bottom: 10px;
}

.item-resultado a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.item-resultado a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #F5F7F8; /* Cor de fundo do rodapé */
    background: rgba(0, 0, 0, 0.7);
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 20px; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1.4rem; /* Tamanho da fonte */
    margin-top: 20px;
    z-index: 1; /* Garante que o footer fique acima da sobreposição */
}
  
  footer a {
    text-decoration: none;
    color: #e7e7e7;
    margin: 0 10px;
    font-size: 20px;
  }
  
  footer a:hover {
    color: #4caf50; /* Cor do LinkedIn quando passar o mouse */
  }
  
  footer i {
    margin-right: 8px;
  }
  

